@font-face {
    font-family: SF UI Regular;
    src: url('/fonts/SFUIText-Regular.ttf');
}

@font-face {
    font-family: SF UI Bold;
    src: url('/fonts/SFUIText-Bold.ttf');
}

@font-face {
    font-family: SF UI Semibold;
    src: url('/fonts/SFUIText-Semibold.ttf');
}

@font-face {
    font-family: SF UI Light;
    src: url('/fonts/SFUIText-Light.ttf');
}